<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Units:</strong>
  <% if !@course.units.blank? %>
  <% @course.units.each do |u| %>
    <%= u.unit1 %>
	<%= u.unit2 %>
	<%= u.unit3 %>
	<%= u.unit4 %>
	<%= u.unit5 %>
  <%end%>
  <%end%>
</p>

<%= link_to 'Edit', edit_course_path(@course) if teacher? %> |
<%= link_to 'Back', courses_path %>
