<p id="notice"><%= notice %></p>

<p>
  <strong>Unit1:</strong>
  <%= @unit.unit1 %>
</p>

<p>
  <strong>Unit2:</strong>
  <%= @unit.unit2 %>
</p>

<p>
  <strong>Unit3:</strong>
  <%= @unit.unit3 %>
</p>

<p>
  <strong>Unit4:</strong>
  <%= @unit.unit4 %>
</p>

<p>
  <strong>Unit5:</strong>
  <%= @unit.unit5 %>
</p>

<p>
  <strong>Course:</strong>
  <%= @unit.course %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
